/* General dark mode background color */
body.dark {
    background-color: #302e2e;
    color: white;
}

/* Ensure all text remains white in dark mode */
body.dark, 
body.dark .book-title,
body.dark .genre-button,
body.dark .available-count-display,
body.dark .book-status,
body.dark header,
body.dark footer,
body.dark .modal-content,
body.dark .book-container ul li {
    color: black !important; /* Force text to be white */
}

/* Additional specific styling if needed */
body.dark .genre-button,
body.dark .dropdown-content, a {
    color: black !important;
}

/* Exceptions for already white texts */
body.dark .already-white {
    color: white !important;
}

.bg {
    border-style: solid;
    border-color: black;
    background-color: black;
    border-style: 5px;
    z-index: 2;
}
